@CHARSET "ISO-8859-1";

body {
	margin: 0px auto;
	padding: 0px 10px;
}

.activityTable {
	
}

.activityTable td {
	text-align: right
}

.topbar {
	background-color: #F1F1F1;
	padding: 15px 5px;
}

#ui-datepicker-div {
	font-size: 11px;
}

button#actBtn {
	cursor: pointer;
	/*forces the cursor to change to a hand when the button is hovered*/
	padding: 5px 25px; /*add some padding to the inside of the button*/
	background: #35b128; /*the colour of the button*/
	border: 1px solid #33842a;
	/*required or the default border for the browser will appear*/
	/*give the button curved corners, alter the size as required*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*give the button a drop shadow*/
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
	box-shadow: 0 0 4px rgba(0, 0, 0, .75);
	/*style the text*/
	color: #f3f3f3;
	font-size: 1.1em;
}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
button#actBtn:hover,button#actBtn:focus {
	background-color: #399630; /*make the background a little darker*/
	/*reduce the drop shadow size to give a pushed button effect*/
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .75);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, .75);
	box-shadow: 0 0 1px rgba(0, 0, 0, .75);
}